p {
  margin: 0;
}

/* header */

.header {
  align-items: center;
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 16px !important;
  grid-template-areas:
    'logo topLine'
    'logo mainLine';
  grid-template-columns: auto 1fr;
  height: 116px;
  box-sizing: border-box;
  padding-bottom: 20px !important;
  padding-top: 16px !important;
  position: relative;
}

.masters-logo {
  align-items: center;
  display: flex;
  grid-area: logo;
  justify-content: center;
  max-height: 80px;
  box-sizing: border-box;
}

.masters-logo__image {
  height: auto;
  width: 100%;
  background: #fff;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 80px;
  box-sizing: border-box;
}

.header-master__container {
  grid-area: mainLine;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 24px;
  box-sizing: border-box;
  height: 44px;
}

.masters-header-search {
  width: 100%;
  max-width: 900px;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 4;
}

.masters-header-search__input {
  height: 100%;
  width: 100%;
  border: 0;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  outline: 0;
  padding: 0 12px;
  background: #eee;
  font-size: 16px;
}

.masters-header-search__btn {
  height: 100%;
  width: 60px;
  align-items: center;
  background: #ff7d00;
  border: 0;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: 0;
  padding: 0;
}

.masters-header-search__svg {
  fill: currentColor;
}

.menu-user {
  display: grid;
  grid-gap: 12px;
  grid-row-gap: 0;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu-user__item,
.menu-user__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

.menu-user__item button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.page {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 15px;

  font-family: 'Roboto', Arial, sans-serif;
}

.masters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 33px;
}

.title {
  margin: 0;
  font-size: clamp(15px, 2.5vw, 34px);
  text-transform: uppercase;
  color: #636363;
  letter-spacing: 1.4px;
}

.masters-header__list {
  display: flex;
  gap: 33px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.masters-header__link {
  text-decoration: none;
  font-size: clamp(16px, 2.5vw, 25px);
  color: #636363;
  font-weight: 700;
}

/* master */

.masters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 25px;
  padding-top: 75px;
}

.master_short {
  width: 682px;
  max-width: 100%;
}

.master_detail {
  width: 100%;
}

.master__link {
  text-decoration: none;
}

.master__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
}

.master__header_detail {
  width: 100%;
  /* flex-wrap: wrap; */
}

.master__photo {
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #fe7e00;
  overflow: hidden;
}

.master__photo_size_m {
  align-self: flex-start;
  width: 293px;
  height: 293px;
}

.master__photo_size_s {
  width: 197px;
  height: 197px;
}

.master__info_detail {
  flex: 1;
  max-width: 100%;
}

.master__wrapper {
  display: flex;
  align-items: center;
}

.master__name {
  margin: 0 13px 0 0;

  color: #636363;
  font-weight: 700;
}

.master__name_size_s {
  font-size: 26px;
}

.master__name_size_m {
  font-size: 37px;
}

.master__verification {
  margin-right: 7px;
}

.master__status {
  padding: 7px 13px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #636363;
  background-color: #ececec;
}

.master__rating {
  margin-top: 15px;
}

.master__legal-form,
.master__address {
  font-size: 21px;
  color: #636363;
}

.master__address {
  position: relative;
  margin-left: 20px;
  padding-left: 23px;
}

.master__address::after {
  content: '';
  width: 20px;
  height: 27px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('./local.svg');
  background-repeat: no-repeat;
}

.master__number-reviews {
  position: relative;
  margin: 20px 0 0 0;
  padding-left: 23px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.master__number-reviews::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background-image: url(./reviews.svg);
  background-repeat: no-repeat;
}

.master__description {
  max-width: 444px;
  margin: 15px 0 0 0;
  font-size: 17px;
  color: #636363;
  text-decoration: none;
}

.master__description_detailed {
  color: #000000;
}

.master__description_announce {
  -webkit-line-clamp: 2; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden;
}

.master__portfolio {
  display: block;
  margin: 33px 0 0 0;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.master__portfolio-list {
  display: flex;
  align-content: center;
  /* gap: 13px; */

  margin-top: 27px;
}

.master__portfolio-item {
  width: 220px;
  /* max-width: 220px; */
  height: 220px;
}
.master__portfolio-item_big {
  width: 304px;
  /* max-width: 304px; */
  height: 304px;
}

.master__specializations-table {
  overflow: auto;
}

.master__specializations-list {
  min-width: 880px;
  /* overflow: auto; */
}

.master__specializations-item_secondary {
  color: #939393;
}

.master__specializations-item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 0;
}

.master__specializations-row {
  display: flex;
  gap: 15px;
  padding: 15px 5px;
  border-bottom: 3px solid #cbcbcb;
  font-size: 19px;
  color: #000000;
}

.master__specializations-specialization {
  flex-grow: 5;
  flex-basis: 535px;
}

.master__specializations-price {
  flex-grow: 2;
  flex-basis: 250px;
}

.master__specializations-average-rating {
  flex-grow: 2;
  flex-basis: 250px;
  display: flex;
  align-items: center;
  gap: 27px;
}

.master__specializations-rating {
  flex-grow: 1;
  flex-basis: 100px;
  text-align: right;
}

.master__specializations-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 252px;
  margin: 47px auto 0 auto;
  padding: 18px;
  border: 3px solid #cbcbcb;
  border-radius: 30px;
  background-color: transparent;
  font-size: 18px;
  color: #7c7c7c;
  cursor: pointer;
}

@media (max-width: 900px) {

.header {
  height: 180px;
  grid-template-rows: 1fr 1fr;
}

  .masters-logo {
    grid-row: 1/1;
  }
  .header-master__container {
    flex-wrap: wrap;
    grid-column: 1/3;
    grid-row: 1/3;
    gap: 16px;
    height: auto;
  }

  .masters-header-search {
    order: 2;
    flex: 1 100%;
    grid-area: 'logo, topLine';
    height: 44px;
  }

  .menu-user {
    margin:  0 0 0 auto;
  }


}

@media (max-width: 520px) {
  .masters-header__list {
    gap: 15px;
  }

  .master_short {
    min-width: 100%;
  }
}
